@import url("https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400;500;600;700;800&display=swap");

@keyframes hareket {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    top: 20px;
    left: 20px;
  }

  100% {
    top: 0;
    left: 0;
  }
}

@keyframes hareket-2 {
  0% {
    left: 0;
    top: 0;
  }

  50% {
    left: 5px;
    top: 5px;
  }

  100% {
    left: 0;
    top: 0;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Baloo Chettan 2", sans-serif;
}
body {
  background: rgb(252, 252, 240);
  background: linear-gradient(
    90deg,
    rgba(243, 243, 190, 0) 44%,
    rgba(255, 255, 230, 0) 50%,
    rgba(133, 133, 93, 0) 50%,
    rgba(217, 217, 180, 0) 73%
  );
  overflow-x: hidden;
}

nav-2 {
  span .bi-list {
    height: 100px;
  }
  .media i {
    cursor: pointer !important;
  }
  .menu:hover {
    color: #b60416;
  }
  .en {
    border-left-color: #b60416 !important;
    border-radius: 3px;
    cursor: pointer;
  }
  .en:hover {
    color: #b60416;
  }
  .end {
    border-right-color: #b60416 !important;
    border-radius: 3px;
  }

  .media i:hover {
    color: #b60416;
  }
  .menu:hover {
    color: #b60416 !important;
  }
}
.offcanvas {
  color: white;
  background-color: #e3051b;
}
.btn-close {
  color: aliceblue !important;
}
.main {
  .container h1 {
    font-size: 5rem;
    color: #e3051b;
    overflow: hidden;
  }
  h3 {
    color: #0f253b;
  }

  .col-6 p,
  .col-md p {
    color: #0f253b;
    font-size: 0.7rem;
  }

  .chevron,
  .chevron-2,
  .chevron-3 {
    color: #0f253b;
    display: none;
  }

  .col-6:hover,
  .col-md:hover {
    transform: scale(1.52);
    transition: 0.5s;
    transition-timing-function: ease-out;
  }
  .col-6:hover .chevron {
    left: 130px;
    display: unset;
  }
  .col-md:hover .chevron {
    left: 150px;
    display: unset;
  }
  .col-6:hover .chevron-2 {
    left: 140px;
    display: unset;
  }
  .col-md:hover .chevron-3 {
    left: 135px;
    display: unset;
  }

  .col-6 img,
  .col-md img {
    background-color: white;
    border-top-left-radius: 40%;
    border-top-right-radius: 70%;
    border-bottom-left-radius: 70%;
    border-bottom-right-radius: 60%;
  }
  .col-6:hover img,
  .col-md:hover img {
    background-color: #b60416 !important;
  }
  .col-6:hover p,
  .col-md:hover p {
    transform: scale(1);
  }
  .col-6 .img-end {
    background-color: white;
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
    border-bottom-left-radius: 70%;
    border-bottom-right-radius: 70%;
  }
}
.section h1 {
  font-size: 4rem;
}
.section {
  .circle {
    width: 600px;
    height: 500px;
    top: -12rem;
    right: -20rem;
    border-radius: 50% 50%;
    transform: rotateX(50%);
    background-color: #e3051b;
    z-index: -10000;
  }
  .anımasyon {
    position: absolute;
    animation: hareket 4s infinite alternate;
    animation-timing-function: linear;
  }

  img {
    padding-top: 10rem;
  }
  h1 {
    color: #e3051b;
    font-weight: bold;
  }
}
.section-2 {
  .cips {
    top: -40px;
    left: 0px;
    animation: hareket-2 3.5s infinite alternate-reverse;
    animation-timing-function: linear;
  }

  i {
    top: 170px;
    left: 20px;
  }
}
.picture-2 {
  .halley {
    width: 750px;
    height: 400px;
    top: -8rem;
    left: -42rem;
    border-radius: 50% 50%;
    transform: rotateX(50%);
    background-color: #e3051b;
    z-index: -100;
  }
  .anımasyon {
    animation: hareket-2 3.5s infinite alternate-reverse;
    animation-timing-function: linear;
  }
  img {
    margin-left: 20rem !important;
  }
}
.biskuvi-2 {
  animation: hareket 3.5s infinite alternate;
  animation-timing-function: linear;
}
.biskuvi {
  top: 80px;
  left: -100px;
}
.cho-2 {
  top: -40px;
  left: 110px;
}
.cho {
  animation: hareket 3.5s infinite alternate;
  animation-timing-function: linear;
}
.news {
  h1 {
    font-size: 5rem;
    color: #e3051b;
    font-weight: bolder;
  }
  h2 {
    font-size: 2.8rem;
    color: #0f253b;
    font-weight: bolder;
  }
}
.card {
  span {
    font-size: 14px;
  }
  a {
    text-decoration: none;
    list-style: none;
  }
  & {
    cursor: pointer;
  }

  &:hover {
    transform: scale(1.1);
    transition: 0.4s;
  }
}
.news-2 .btn {
  background-color: #e3051b;
}
.news-2 .btn:hover {
  background-color: #b60416;
}
a {
  text-decoration: none;
  list-style: none;
}
.section-3 {
  z-index: -1000;
  h1 {
    font-size: 5rem;
    color: #e3051b;
    font-weight: bolder;
  }
  .big-circle {
    width: 1250px;
    height: 600px;
    top: -10rem;
    right: -35rem;
    border-radius: 50% 50%;
    border-top-left-radius: 90%;
    border-bottom-left-radius: 70%;
    transform: rotateX(50%);
    background-color: #e3051b;
    z-index: -100;
  }
  .btn {
    background-color: #e3051b;
  }
  .btn:hover {
    background-color: #b60416;
  }
  .pa-1 {
    color: #0f253b;
    font-weight: bolder;
    font-size: 18px;
  }
  .carousel-control-next-icon {
    font-weight: bold;
  }
  i {
    top: -60px;
    left: 20px;
  }
}
.section-4 {
  h1 {
    font-size: 5rem;
    color: #e3051b;
    font-weight: bolder;
  }
  .pa-1 {
    color: #0f253b;
    font-weight: bolder;
    font-size: 18px;
  }

  .col-md:hover {
    transform: scale(1.22);
    transition: 0.2s;
    transition-timing-function: linear;
  }
  .col-md img {
    background-color: white;
    border-top-left-radius: 20%;
    border-top-right-radius: 40%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
  }
  .col-md:hover img {
    background-color: #b60416 !important;
  }
  .par-2 {
    font-size: 14px;
  }
}
footer {
  background-color: #e3051b;
  border-top-right-radius: 43%;
  border-top-left-radius: 18%;
  height: 300px;
  z-index: -100;
}

.col-md-7 .col:hover {
  color: #b60416 !important;
  cursor: pointer;
}
.col-md-5 i:hover {
  color: #b60416;
  cursor: pointer;
}

footer-end {
  z-index: 10000;
  .container-fluid {
    background-color: #b60416;
    border-top-right-radius: 14%;
    border-top-left-radius: 20%;

    top: -100px;
    left: 0;
  }

  .col {
    font-size: 9px;
    font-weight: bold;
  }
  .col-4:hover {
    color: #df505e;
    cursor: pointer;
  }
}
@media (max-width: 768px) {
  nav {
    .nav-1 {
      .offcanvas {
        z-index: 1000000;
        top: 0;
      }
    }
    .navbar-brand {
      img {
        width: 60px !important;
        height: auto;
      }
    }
  }
  .main {
    .col-6 {
      img {
        width: 80px !important;
      }
    }
    .btn {
      border-color: none !important;
      border: none !important;
    }
    .col-6:hover,
    .col-md:hover {
      transform: scale(1.12);
      transition: 0.5s;
      transition-timing-function: ease-out;
    }
  }
  .big-circle {
    width: 400px !important;
    height: 250px !important;
    top: -15rem;
    left: 15rem;
    border-radius: 50% 50%;
    border-top-left-radius: 90%;
    border-bottom-left-radius: 70%;
    transform: rotateX(50%);
    background-color: #e3051b;
    z-index: -100;
  }
  .section-3 {
    z-index: -1000;
    h1 {
      font-size: 2rem;
    }
  }

  .col-4 {
    img {
      width: 80px !important;
    }
  }
  .news {
    h1 {
      font-size: 3rem;
      padding-right: 18px;
    }
  }
  .nav-4 {
    display: none !important;
  }
  .offcanvas {
    color: white;
    background-color: #e3051b !important;
  }
  .navbar-responsive {
    background-color: #db1e24 !important;
  }
  .navbar-toggler {
    background-color: #db1e24 !important;
    color: #db1e24 !important;
  }
  .btn-close {
    margin-right: 270px !important;
  }
  .main {
    .container h1 {
      font-size: 3rem;
    }
  }
  .col-md:hover .chevron-3 {
    right: 0px;
    display: unset;
  }
  .section-4 {
    h1 {
      font-size: 2.5rem;
      color: #e3051b;
      font-weight: bolder;
    }
    .col-md {
      border-color: none !important;
      border: none;
    }
    .col-md img {
      width: 60px !important;
    }
  }
  .card:hover {
    transform: scale(1);
    transition: 0.4s;
  }
  footer {
    background-color: #e3051b;
    border-top-right-radius: 43%;
    border-top-left-radius: 18%;
    height: 400px;
    z-index: -100;
  }
}

@media (min-width: 769px) {
  nav {
    display: none !important;
  }
}
